-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: javapj
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `common_methods`
--

DROP TABLE IF EXISTS `common_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `common_methods` (
  `id` int NOT NULL,
  `material_id` int DEFAULT NULL,
  `step_number` int DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  KEY `material_id` (`material_id`),
  CONSTRAINT `common_methods_ibfk_1` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `common_methods`
--

LOCK TABLES `common_methods` WRITE;
/*!40000 ALTER TABLE `common_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `common_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exeption_methods`
--

DROP TABLE IF EXISTS `exeption_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exeption_methods` (
  `id` int NOT NULL,
  `items_id` int DEFAULT NULL,
  `step_number` int DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  KEY `items_id` (`items_id`),
  CONSTRAINT `exeption_methods_ibfk_1` FOREIGN KEY (`items_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exeption_methods`
--

LOCK TABLES `exeption_methods` WRITE;
/*!40000 ALTER TABLE `exeption_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `exeption_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_notes`
--

DROP TABLE IF EXISTS `item_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_notes` (
  `id` int NOT NULL,
  `materials_id` int DEFAULT NULL,
  `note_order` int DEFAULT NULL,
  `notes` varchar(100) DEFAULT NULL,
  `content` text,
  PRIMARY KEY (`id`),
  KEY `materials_id` (`materials_id`),
  CONSTRAINT `item_notes_ibfk_1` FOREIGN KEY (`materials_id`) REFERENCES `materials` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_notes`
--

LOCK TABLES `item_notes` WRITE;
/*!40000 ALTER TABLE `item_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items` (
  `id` int NOT NULL,
  `material_id` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `material_id` (`material_id`),
  CONSTRAINT `items_ibfk_1` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materials`
--

DROP TABLE IF EXISTS `materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materials` (
  `id` int NOT NULL,
  `name` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materials`
--

LOCK TABLES `materials` WRITE;
/*!40000 ALTER TABLE `materials` DISABLE KEYS */;
INSERT INTO `materials` VALUES (1,'종이'),(2,'종이팩'),(3,'무색페트병'),(4,'플라스틱류'),(5,'비닐류'),(6,'발포합성수지'),(7,'유리병'),(8,'금속류'),(9,'의류 및 원단'),(10,'전지'),(11,'조명제품'),(12,'전기전자제품');
/*!40000 ALTER TABLE `materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `searchitem`
--

DROP TABLE IF EXISTS `searchitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `searchitem` (
  `id` int NOT NULL,
  `material_id` int DEFAULT NULL,
  `searchkeyword` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `searchitem`
--

LOCK TABLES `searchitem` WRITE;
/*!40000 ALTER TABLE `searchitem` DISABLE KEYS */;
INSERT INTO `searchitem` VALUES (1,1,'종이'),(2,1,'신문지'),(3,1,'골판지'),(4,2,'종이팩'),(5,2,'주스팩'),(6,2,'우유팩'),(7,3,'무색페트병'),(8,3,'생수병'),(9,3,'투명페트'),(10,4,'플라스틱'),(11,4,'PET용기'),(12,4,'플라스틱용기'),(13,5,'비닐'),(14,5,'비닐봉투'),(15,5,'포장비닐'),(16,6,'스티로폼'),(17,6,'발포합성수지'),(18,6,'전자제품포장재'),(19,7,'유리병'),(20,7,'빈병'),(21,7,'색유리병'),(22,8,'캔'),(23,8,'고철'),(24,8,'금속류'),(25,9,'의류'),(26,9,'헌옷'),(27,9,'신발'),(28,10,'전지'),(29,10,'건전지'),(30,10,'리튬전지'),(31,11,'형광등'),(32,11,'LED램프'),(33,11,'조명제품'),(34,12,'전자제품'),(35,12,'폐가전'),(36,12,'냉장고');
/*!40000 ALTER TABLE `searchitem` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-18 13:57:07
